/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/composer.lock
/package-lock.json
/pnpm-lock.yaml
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.amp
/.factory
/.grok
/.junie
/.kiro
/.pi